section button {
    position: absolute;
    background-color: var(--btn-rouwtaak-1);
    border: var(--btn-border);
    color: var(--text-primary);
    font-family: var(--ff-figtree);
    font-size: 16px;
    border-radius: var(--pill-btn-border-radius);
    padding: 10px 20px;
    top: 47%;
    right: 2vw;
    cursor: pointer;
}
