
html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--bg-primary);
    overflow-x: hidden;
}

header {
    background-color: var(--bg-primary);
    width: 100%;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    padding: 5px;
    z-index: 1;
}

.header2 {
    background-color: var(--bg-primary);
    width: 100%;
    height: max-content;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    border-radius: 0 0 40px 40px;
    padding-bottom: 1em;
}

.switchrouwtaken {
    color: var(--text-primary);
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 2px solid #A6A6A633;
}

.switchrouwtaken p {
    font-family: var(--ff-figtree);
    font-size: 12px;
    width: 15vw;
}

.rtswitch1,
.rtswitch2,
.rtswitch3,
.rtswitch4 {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--text-primary);
}

.switchrouwtaken img {
    height: 80px;
    width: 80px;
    background-color: #1F1F1F;
    border-radius: 3vw;
}

.switchrouwtaken div {
    display: flex;
    align-items: center;
    color: var(--text-primary);
    text-align: center;
    font-family: var(--ff-figtree);
    font-size: 12px;
    padding-top: 15px;
}

h1 {
    color: var(--text-primary);
    font-family: var(--ff-calvino);
    font-size: 32px;
    margin-left: 5vw;
    margin-bottom: -2vh;
}

.dropdownarrow {
    height: 10px;
    position: absolute;
    right: 5vw;
    top: 1.4em;
    color: var(--text-primary);
    font-size: 30px;
}

/* PROGRESSBAR */

.progressbar {
    display: flex;
    align-items: center;
}

.progressbar p {
    font-family: var(--ff-figtree);
    color: var(--text-secondary);
    margin-left: 2vw;
}

progress {
    width: 50%;
    margin-left: 5vw;
    height: 3px;
    border-radius: 5px;
    overflow: hidden;
}

progress::-webkit-progress-bar {
    background-color: var(--inactive-color);
}

progress::-webkit-progress-value {
    background-color: var(--btn-rouwtaak-1);
}

/* ASIDE */

aside {
    background-color: var(--bg-primary);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside img {
    height: 30vh;
    margin-top: 2vh;
    z-index: 0;
}

.mesh1 {
    height: 20vh;
    margin-left: 6vw;
    filter: blur(4em);
    position: absolute;
    top: 18vh;
    left: -20vw;
    overflow: hidden;
}

.mesh2 {
    height: 20vh;
    margin-left: 6vw;
    filter: blur(4em);
    position: absolute;
    top: 18vh;
    left: 55vw;
    overflow: hidden;
}

aside h2 {
    color: var(--text-primary);
    font-family: var(--ff-calvino);
    font-size: 32px;
    margin-top: 5vh;
    margin-bottom: 0;
    text-align: center;
    z-index: 999;
}

aside p {
    color: var(--text-secondary);
    font-family: var(--ff-figtree);
    font-size: 20px;
    margin-top: 1vh;
    text-align: center;
    z-index: 999;
}

/* MAIN */

main {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1D1D1D;
    border-radius: 40px 40px 0px 0px;
    z-index: 999;
}

section {
    position: relative;
    margin-top: 3vh;
    width: 90%;
    border: 1px solid var(--inactive-color);
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.opdrachtbackgrounds {
    height: 20vh;
    width: 110%;
}

.opdrachtcontent {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.opdrachtcontent h3 {
    font-family: var(--ff-calvino);
    font-size: 24px;
    margin-left: 4vw;
    margin-top: 0vh;
    margin-bottom: 1vh;
}

.opdrachtcontent p {
    font-family: var(--ff-figtree);
    font-size: 16px;
    margin-left: 4vw;
}

.opdrachtdetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    margin-left: 4vw;
    align-items: center;
    text-align: center;
    width: 300px;
    color: var(--text-primary);
}

.opdrachtdetails a:nth-child(1) {
    grid-column: span 2;
}

.opdrachtdetails a {
    padding: 5px 0;
    font-family: var(--ff-figtree);
    border: 1px solid var(--inactive-color);
    border-radius: 1000px;
    width: 100%;
    font-size: 16px;
    color: var(--text-secondary);
    box-sizing: border-box;
}

button:hover {
    background-color: #4D8FAC;
    transform: scale(1.06);
}

nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--bg-primary);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vh 0;
}

nav div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

/* BUTTON CLASSES */

section button .btn-rouwtaak-1 {
    position: absolute;
    background-color: var(--btn-rouwtaak-1);
    border: var(--btn-border);
    color: var(--text-primary);
    font-family: var(--ff-figtree);
    font-size: 16px;
    border-radius: var(--pill-btn-border-radius);
    padding: 10px 20px;
    top: 47%;
    right: 2vw;
    cursor: pointer;
}

section button .btn-rouwtaak-2 {
    position: absolute;
    background-color: var(--btn-rouwtaak-2);
    border: var(--btn-border);
    color: var(--text-primary);
    font-family: var(--ff-figtree);
    font-size: 16px;
    border-radius: var(--pill-btn-border-radius);
    padding: 10px 20px;
    top: 47%;
    right: 2vw;
    cursor: pointer;
}

section button .btn-rouwtaak-3 {
    position: absolute;
    background-color: var(--btn-rouwtaak-3);
    border: var(--btn-border);
    color: var(--text-primary);
    font-family: var(--ff-figtree);
    font-size: 16px;
    border-radius: var(--pill-btn-border-radius);
    padding: 10px 20px;
    top: 47%;
    right: 2vw;
    cursor: pointer;
}

section button .btn-rouwtaak-4 {
    position: absolute;
    background-color: var(--btn-rouwtaak-4);
    border: var(--btn-border);
    color: var(--text-primary);
    font-family: var(--ff-figtree);
    font-size: 16px;
    border-radius: var(--pill-btn-border-radius);
    padding: 10px 20px;
    top: 47%;
    right: 2vw;
    cursor: pointer;
}


@media (min-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 1em;
    }
    section {
        min-width: 45vw;
    }
}

@media (min-width: 1200px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 2em;
        justify-content: space-evenly;
        align-items: center;
    }
    section {
        min-width: 27vw;
    }
}
